<h3 mat-dialog-title id='dialogheader'>DELETE CONFIRMATION</h3>
<div mat-dialog-content>
  <form [formGroup]="BookDetailForm">
    <div id='deletetext'>
      Do you want to delete multiple books?

    </div>
  <div mat-dialog-actions>
    <div id='btns'>
      <button type="button" class="btn btn-default" (click)="onNoClick()" id='cancel'>
        <span class="glyphicon glyphicon-remove">Cancel</span>
      </button>
    <button type="button" class="btn btn-default" (click)="Delete()" id='delete'>
      <span class="glyphicon glyphicon-save">Delete</span>
    </button>
  </div>
  </div>
</form>
</div>
