#label{
  font-weight: bold;
}
#deletetext{
  margin-top: 50px;
  /* text-align: center; */
}
#dialogheader {
  margin-top: 15px;
  /* margin-left: 40%;
  margin-right: auto; */
  /* background-color: blue; */
  text-align: center;
}


#btns{
  text-align: center;
}
#cancel{
    background-color: brown;
}
.glyphicon-remove{
  color: white;
}
#delete{
  background-color: green;
}
.glyphicon-save{
  color:white;
}
