<div>
<h1 mat-dialog-title class='Modelheader'>Update book</h1>
<div mat-dialog-content>
  <form [formGroup]="BookDetailForm" class='md-form md-outline'>
    <div>
      <label id='label'>
        Title is :
      </label>
      <br>
      {{data.title}}
    </div>
    <div>
      <label id='label'>
        Category
      </label>
      <br>
      <mat-form-field class="">
        <input type="text" placeholder="{{data.category}}" aria-label="Number" matInput formControlName="category" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="BookDetailForm.controls.category.invalid && (BookDetailForm.controls.category.dirty || BookDetailForm.controls.category.touched)" class="alert alert-danger">
        <div *ngIf="BookDetailForm.controls.category.errors.incorrect">
          Category have to be valid.
        </div>
      </div>
  </div>
  <div>
    <label id='label'>
      Description
    </label>
    <br>
      <textarea matInput type="text" formControlName="description"  placeholder="{{data.description}}" class="form-control md-textarea" rows="3" id ='description'></textarea>
    <br>
  </div>
  <div mat-dialog-actions class='buttons'>
    <button mat-button (click)="onNoClick()" class="button">Close</button>
    <button mat-button  (click) ='Update()' cdkFocusInitial class="button">Update</button>
  </div>
</form>
</div>
</div>
