<!--The content below is only a placeholder and can be replaced.-->
<body>
<h1>
  Welcome to {{ title }}!
</h1>
<header>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/book" routerLinkActive="active">Book Manage</a></li>
      <li><a routerLink="/mq" routerLinkActive="active">MessageQ</a></li>
      <li><a routerLink="/createbook" routerLinkActive="active">Error url test</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
</body>
<footer> @Hi there </footer>
