<div class='book-body'>
<h1>LIST BOOK </h1>
<div>
<button type="button" class="btn btn-default" (click)="Create()" id='createbtn'>
  <span class="fa fa-plus">ADD NEW BOOK</span>
</button>
</div>

<!-- Search book -->
  <div class="md-form">
    <label for="search">Search</label>
    <br>
    <div class = "searchbar">
      <mat-form-field id="searchform">
        <input matInput (keyup)="Search($event.target.value)" placeholder="Search Title">
      </mat-form-field>
    </div>
  </div>
<!--Refresh table  -->
  <div>
    <button type="button" class="btn btn-default" (click)="Reload()" id='rlbtn'>
      <span class="fa fa-refresh">Reload table</span>
    </button>
  </div>

<!-- table  -->

<div class="table-responsive">
        <ng-container *ngIf='!loaded'>
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </ng-container>
  <table mat-table matSort [dataSource]='dataSource'
      class="table table-striped table-bordered" (matSortChange)="sortData($event)">
        <!-- Selection column -->
        <ng-container matColumnDef="select" id='select-column'>
            <th mat-header-cell *matHeaderCellDef scope="col">
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title" id='title-column'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Title </th>
          <td mat-cell *matCellDef="let book"> {{book.title}} </td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>


      <!-- Category Column -->
    <ng-container matColumnDef="category" id='category-column'>
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Category </th>
        <td mat-cell *matCellDef="let book">
          <ng-container *ngIf='!editing || editing !==book'>
            {{book.category}}
          </ng-container>
          <ng-container *ngIf='editing===book'>
            <form [formGroup]="BookDetailForm" id='categoryfg'>
              <!--input field  -->
                <mat-form-field id="categoryff">
                  <input type="text" placeholder="{{book.category}}" aria-label="Number" matInput formControlName="category" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                      </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <!--error display  -->
                <div *ngIf="BookDetailForm.controls.category.invalid && (BookDetailForm.controls.category.dirty || BookDetailForm.controls.category.touched)" class="alert alert-danger">
                  <div *ngIf="BookDetailForm.controls.category.errors.incorrect">
                    Category have to be valid.
                  </div>
                </div>
            </form>
          </ng-container>
        </td>
      <td mat-footer-cell *matFooterCellDef>{{getTotal()}}</td>
    </ng-container>

      <!-- Description Column -->
    <ng-container matColumnDef="description" id='description-column'>
        <th mat-header-cell *matHeaderCellDef scope="col"> Description</th>
        <td mat-cell *matCellDef="let book">
          <ng-container *ngIf='!editing || editing !==book'>
            {{book.description}}
          </ng-container>
          <ng-container *ngIf='editing===book'>
            <form [formGroup]="BookDetailForm" id ="textff">
              <textarea matInput type="text" formControlName="description"  placeholder="{{book.description}}" class="form-control md-textarea" rows="2" id ='description'></textarea>
            </form>
          </ng-container>
        </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>


      <!-- Action Column -->
    <ng-container matColumnDef="action" id='action-column'>
      <th mat-header-cell *matHeaderCellDef scope="col"> Action </th>
      <td mat-cell *matCellDef="let book" id='buttons'>
        <div class='row vertical-align'>
        <ng-container *ngIf='!editing || editing!==book'>
          <div class='col-md-6'>
            <button type="button" class="btn btn-default" (click)="onRowEdit(book)" id="editbtn">
              <span class="fa fa-edit">Edit</span>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf='book===editing'>
          <div class='col-md-6'>
            <div class='row row-small'>
              <button type="button" class="btn btn-default" (click)="onRowEditSave()" id="save">
                  <span class="fa fa-save">Save</span>
              </button>
            </div>
            <div class='row row-small'>
              <button type="button" class="btn btn-default" (click)="onRowEditCancel()" id="cancel">
                <span class="fa fa-remove">Cancel</span>
              </button>
            </div>
          </div>
        </ng-container>
        <div class='col-md-6'>
          <button type="button" class="btn btn-default" (click)="Delete(book)" id='delbtn'>
            <span class="fa fa-trash">Delete</span>
          </button>
        </div>
      </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns, let i = index"
      [ngClass]="{ 'highlight': row.title==newadded }"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons lastPage></mat-paginator>
    <button type="button" class="btn btn-default" (click)="DeleteSelected()" id="delsel">
      <span class="fa fa-trash">Delete Selected</span>
    </button>

  </div>

</div>
