
/* book body css */
h1{
  text-align: center;
  font-weight: bold;
}
.book-body{
  width:90%;

  margin-left: 5%;
  margin-right: 5%;
}
#createbtn{
  background-color: grey;
  margin-bottom: 10px;
}
/* search form css */
#searchform{
  width: 100%;
  margin-bottom: 10px;
}
.mat-paginator{
  background-color: transparent;
  font-size: 10px;
}
/* data table css */
.table-responsive{
  width: 100%;
  border:none;
}
table {
  width: 100%;
  table-layout:auto;
  border-spacing: 0 8px !important;
}
.mat-header-cell {
  position: sticky;
  font-weight: bold;
  background-color: #22BEDA;
  font-size: 20px;
  text-align: center;
  vertical-align: middle !important;
}
::ng-deep .mat-header-cell .mat-sort-header-container {
    justify-content: center;
}
mat-cell, .mat-cell {
  vertical-align: middle !important;
  height:80px;
  word-wrap:break-word;
  white-space: normal !important;

}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{
  padding-left: 0;
  text-align: center;
}
.highlight {
    animation: highlight 10s;
}

@keyframes highlight {
    0% {
        background: red
    }
    100% {
        background: none;
    }
}

.mat-column-select{
  min-width: 80px;
  width:10%;
}
.mat-column-title{
  /* width:15%; */
  padding-left: 15px;
  min-width: 200px;
  max-width: 200px;
}
/* #title-column{
  width:15%;
  padding-left: 15px;
} */
.mat-column-category{
/* #category-column{ */
  /* width:30%; */
  min-width: 230px;
  padding-left: 15px;
  /* text-align: center; */
}
.mat-column-description{
/* #description-column{ */
  /* width:35%; */
  min-width: 300px;
  max-width: 400px;
  padding-left: 15px;
  word-wrap:break-word;
  white-space: normal !important;

}
.mat-column-action{
/* #action-column{ */
  /* width:10%; */
  min-width: 200px;
  /* float:center; */
  text-align: center;
  padding-left: 20px;
}
/* form css */
#categoryfg{
  width:100%;
  /* text-align: center; */
  /* width:auto%; */
}
#categoryff{

}
.alert-danger{
  width:90%;
}
/*element css  */
#delsel{
  background-color: red;
  	margin-bottom: 10px;
}
#delbtn{
  /* float:right; */
  width: 80px;
  background-color: red;
}
.vertical-align {
  text-align: center;
  display: flex;
  align-items: center;
}
.row-small{
  text-align: center;
  display:block;
  /* margin-left:0px; */
}

#editbtn{
  width: 80px;

  background-color: green;
}
#save{
  width: 80px;

  background-color: green;
}
#cancel{
  width: 80px;
  background-color: brown;
}
#rlbtn{
  float: right;
  margin-bottom: 20px;
  background-color: grey;
}
.fa{
  color: white;
}


/* loading roll */
.lds-roller {
  display: inline-block;
  margin-left: 40%;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  /* color:black; */
  height: 6px;
  border-radius: 50%;
  background: black;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
