<h3 mat-dialog-title id='dialogheader'>DELETE CONFIRMATION</h3>
<div mat-dialog-content>
    <div id='deletetext'>
      Do you want to delete this book?
      <br>
      <label id='label'>
        {{data.title}}
      </label>
    </div>
  <div mat-dialog-actions>
    <div id='btns'>
      <button type="button" class="btn btn-default" (click)="onNoClick()" id='cancel'>
        <span class="glyphicon glyphicon-remove">Cancel</span>
      </button>
    <button type="button" class="btn btn-default" (click)="Delete()" id='delete'>
      <span class="glyphicon glyphicon-save">Delete</span>
    </button>
  </div>
  </div>
</div>
