
<h3 mat-dialog-title id='dialogheader'>Create book</h3>
<div mat-dialog-content id='dialogcontainer'>
<form [formGroup]="BookDetailForm">
    <div>
      <label id='label'>
        Book title
      </label>
      <br>
      <input type="text" formControlName="title" id="title" class="form-control" placeholder="Title" required>
      <br>
      <div *ngIf="BookDetailForm.controls.title.invalid && (BookDetailForm.controls.title.dirty || BookDetailForm.controls.title.touched)" class="alert alert-danger">
        <div *ngIf="BookDetailForm.controls.title.errors.required">
          Title is required.
        </div>
        <div *ngIf="BookDetailForm.controls.title.errors.TitleExists">
          Title is existed.
        </div>
        <div *ngIf="BookDetailForm.controls.title.errors.maxlength">
          Title must not exceed 30 characters
        </div>
      </div>
      <br>
    </div>
    <div>
      <label id='label'>
        Category
      </label>
      <br>
      <mat-form-field class="example-full-width">
        <br>
        <input type="text" placeholder="Category" aria-label="Number" matInput formControlName="category" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="BookDetailForm.controls.category.invalid && (BookDetailForm.controls.category.dirty || BookDetailForm.controls.category.touched)" class="alert alert-danger">
        <div *ngIf="BookDetailForm.controls.category.errors.required">
          Category is required.
        </div>
        <div *ngIf="!BookDetailForm.controls.category.errors.required&&BookDetailForm.controls.category.errors.incorrect">
          Category have to be valid.
        </div>
      </div>
    </div>
    <div>
      <label id='label'>
      Description
      </label>
      <br>
      <textarea matInput type="text" formControlName="description"  placeholder="Description" class="form-control md-textarea" rows="3" id ='description'></textarea>

      <!-- <input type="text" formControlName="description"  placeholder="Fill description" class="form-control"> -->
      <br>
      <div *ngIf="BookDetailForm.controls.description.invalid && (BookDetailForm.controls.description.dirty || BookDetailForm.controls.description.touched)" class="alert alert-danger">
        <div *ngIf="BookDetailForm.controls.description.errors.required">
          Description is required.
        </div>
      </div>
    </div>
    <div id='btns'>
      <button type="button" class="btn btn-default" (click)="onNoClick()" id='cancel'>
        <span class="glyphicon glyphicon-remove">Cancel</span>
      </button>
    <button type="button" class="btn btn-default" (click)="Create()" id='create'>
      <span class="glyphicon glyphicon-save">Create</span>
    </button>
  </div>
  </form>
</div>
