#dialogheader {
  margin-top: 15px;
  /* margin-left: 40%;
  margin-right: auto; */
  /* background-color: blue; */
  text-align: center;
}


#dialogcontainer {
  padding-top: 0 !important;
}

#description{
  width: 100%;
  border-style:outset;
}

#label{
  text-align: left;
  font-weight: bold;
}
#btns{
  text-align: center;
}
#cancel{
    background-color: brown;
}
.glyphicon-remove{
  color: white;
}
#create{
  background-color: green;
}
.glyphicon-save{
  color:white;
}
